<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail view</title>
</head>
<body>
    -------------------------------------<br>
    <h1>{{object.title}}</h1><br>
   
    <p>{{object.content}}</p><br>

    <h3 style="color:red">{{object.author}}</h3>
    -------------------------------------<br>
    {% for comment in comment_list %}
    <h4>{{comment.user}} at {{comment.created_at}}</h4><br>
    <p>{{comment.text}}</p><br>
    ---------------------------------------<br>
    {% endfor %}

    

</body>
</html>