{% extends "base.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block content %}
    {% if object_list %}
        {% for post in object_list %}
            <h2>
                {{post.title}}<br>
            </h2>
            <p>
                {{ post.content|truncatechars:300 }}<a href="{% url 'blog:post_detail' post.slug %}" ><input type="submit" value="ادامه مطلب" ></a><br>
                <!-- {{post.shortened_content}}<a href="{% url 'blog:post_detail' post.slug %}" ><input type="submit" value="ادامه مطلب" ></a><br>
                ---------------------------------------------------------------------------------<br> -->
            </p>
        {% endfor %}<br>
    {% else %}
        <p>no post yet!</p>
    {% endif %}
{% endblock %}